.container{
    width: 1080px;
    margin: auto;
    background-color: darkslategray;
}
.navbar ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343E46;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}
.navbar ul li a:hover{
    background-color: cadetblue;
    color: white;
    text-decoration: underline;
}
.content{
    text-align: center;
    width: 50%;
    float: left;
    background: linear-gradient(180deg,rgba(105, 121, 136, 1) 0%, rgba(11, 20, 18, 1) 100%);
    height: 875px;
}
h1{
    color: white;
    padding: 314px 16px;
}
.card{
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    background: linear-gradient(180deg,rgba(63, 85, 89, 1) 0%, rgba(11, 16, 16, 1) 100%);
}
.card1{
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    background: #3B4E56;
}
.card2{
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    background: #29383A;
}
.card3{
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    background: #182221;
}
.card:hover, .card1:hover, .card2:hover, .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.caption{
    text-align: center;
    color: white;
}
.footer{
    background-color: #111617;
    color: white;
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 400px 0px
}
img{
    width: 375px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}