*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas:
        'navbar navbar navbar navbar navbar navbar'
        'main main main main feat1 feat1'
        'main main main main feat2 feat2'
        'main main main main feat3 feat3'
        'footer footer footer footer footer footer'
}
.navbar{
    grid-area: navbar;
    background-color: #5D6F7C;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar ul li{
    float: left;
    background-color: #5D6F7C;
    transition: 0.2s;
}
.navbar ul li a{
    display: block;
    text-align: center;
    padding: 25px 122px;
    text-decoration: none;
    transition: 0.2s;
    color: white;
}
.navbar ul li a:hover{
    text-decoration: underline;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.navbar ul li:hover{
    background-color: #A1C7DE;
}
.navbar ul li > img{
    height: 64px;
}
.main{
    grid-area: main;
    background-color: #416285;
    height: 800px;
}
.feature1{
    grid-area: feat1;
    background-color: lightslategrey;
    transition: 0.2s;
}


.feature2{
    grid-area: feat2;
    background-color: lightblue;
    transition: 0.2s;
}
.feature3{
    grid-area: feat3;
    transition: 0.2s;
}
.feature1 > a> img, .feature2 > a> img, .feature3 > a> img{
     width: 451px;
 }
.feature1:hover, .feature2:hover, .feature3:hover{
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
.footer{
    grid-area: footer;
    background-color: #1E3231;
}