.container{
    width: 1080px;
    margin: auto;
    background-color: darkslategray;
}
.header{
    background-color: aquamarine;
    width: 600px;:
    height: 100px;
    text-align: center;
}
.navbar ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}
.navbar ul li a:hover{
    background-color: cadetblue;
    color: white;
    text-decoration: underline;
}
.content{
    text-align: center;
    width: 50%;
    float: left;
    background-color: #1E3231;
}
h1{
    color: white;
    padding: 314px 16px;
}
.card{
    width: 90%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(152, 90, 112, 0.5);
}
.footer{}
img{
    width: 375px;
}